<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel='stylesheet' href='/stylesheets/style2.css' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>
    <a href="/"><button class="btn btn-danger">Home</button></a>
    <br>
    <br>
    <h2>Add Task Here !</h2>
    <div class="main">
        <form id="myform" action="/addTask" method="post">
            <select id="selectValue" name="userid" class="form-select mt-5" >
                <option value="" disabled selected>Select User by Id</option>
            <% showData.forEach(function(elem){ %>
                       <option value=<%= elem.id %>><%= elem.id %></option>
                       <% }) %>
            </select> 
            <br>  
            <br>  
            <input id="taskNameValue" type="text "  class="form-control mt-5"placeholder="Task Name" name="taskName">
            <br>    
            <br>   
            <input id="typeValue" type="radio" name="taskType" value="Pending" Checked><h5>Pending</h5>
            <input id="typeValue" type="radio" name="taskType" value="Done"><h5>Done</h5>
            <br>
            <br>
            <input  class="btn btn-dark mt-5" type="submit" onclick="validateForm()">
        </form>
    </div>
    

    <script>

        function validateForm(){
            event.preventDefault()

            var selectValue = document.querySelector('#selectValue').value
            var taskNameValue = document.querySelector('#taskNameValue').value
            var typeValue = document.querySelector('#typeValue').value
            console.log(typeValue)

            if(selectValue && taskNameValue){
                alert("Task added Successfully")
                document.querySelector('#myform').submit()
            }
            else{
                alert("All fields are mandatory")
            }
        }
    </script>
</body>
</html>