*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  html body{
    height: 100%;
    width: 100%;
    background-color: rgb(159, 86, 86);
  }
  .main{
    height:57%;
    width: 20%;
    background-color: black;
    top: 20%;
    left: 40%;
    position: absolute;
    padding-inline-start: 3%;
  }
  .main input{
    width: 80%;
 
  }
  .main select{
    width: 80%;
 
  }
  h2{
    left: 45%;
    top: 10%;
    position: absolute;
    font: 1em sans-serif;
  }
  a{
    top: 80%;
    left: 50%;
    position: absolute;
  }
  .main h5{
    color: white;

  }
 